<ion-grid>
<ion-row>
  <ion-col size-xs="12" size-md="6" size-xl="4" *ngFor="let item of items">
    <ion-card  [routerLink]="'/offer-details/' + item.offerId">
      <ion-img *ngIf="item.image" [src]="item.image" alt=""></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{item.address}}</ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.shortDescription}}
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>
