<!--<app-navigation></app-navigation>-->
<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar fixed>
            <ion-title size="large">Property Demo</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid [fixed]="true">
        <ion-row>
            <ion-col size-xs="12" size-md="6" size-xl="4">
                <ion-card [routerLink]="'/tabbed/search'" routerDirection="forward">
                    <ion-card-header>
                        <ion-card-subtitle>search</ion-card-subtitle>
                        <ion-card-title>Find a Home</ion-card-title>
                    </ion-card-header>
                    <img src="/assets/img1.jpeg"
                         alt="">
                    <ion-card-content>
                        Search through a variaty of options and mark them favourite.
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size-xs="12" size-md="6" size-xl="4">
                <ion-card [routerLink]="'/tabbed/favourites'" routerDirection="forward">
                    <ion-card-header>
                        <ion-card-subtitle>manage</ion-card-subtitle>
                        <ion-card-title>Favourites</ion-card-title>
                    </ion-card-header>
                    <img src="/assets/img2.jpeg"
                         alt="">
                    <ion-card-content>
                        Manage your options, and keep track of your bids and offers.
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size-xs="12" size-md="6" size-xl="4">
                <ion-card routerLink='/tabbed/new-offer' routerDirection="forward">
                    <ion-card-header>
                        <ion-card-subtitle>sell</ion-card-subtitle>
                        <ion-card-title>Reach a million Buyers</ion-card-title>
                    </ion-card-header>
                    <img src="/assets/img3.jpeg"
                         alt="">
                    <ion-card-content>
                        Sell your property and get the best offer for it.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
